

* {
    background-color: rgb(41, 41, 41);
}
/* 
header, #main, footer {
    border: 2px solid black;
} */

body {
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
}

header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
}

header #main_button {
    width: 40px;
    margin-left: 20px;
    margin-right: 10px;
}

header #nav {
    display: inline-block;
}

header #nav li {
    list-style: none;
    display: inline-block;
    margin-top: 4px;
    margin-right: 40px;
}

.nav_list {
    display:inline-block;
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-family: 'Jua', sans-serif;
}

.nav_list a {
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-color: none;
    color: rgb(255, 255, 255)
}

#main {
    margin-top: 20px;
}

footer {
    border-top: 2px solid black;
}

footer p {
    color: rgb(100, 100, 100);
    font-size: 12px;
    display: block;
    margin-left: 40px;
}

header h1 {
    color: rgb(255, 255, 255);
    font-family: 'Jua', sans-serif;
    font-size: 30px;
    letter-spacing: 0px;
    word-spacing: 0px;
    font-weight: 600;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    display: inline-block;
    margin-top: 15px;
    margin-left: 20px;
}

#main p {
    color: white;
    margin-left: 40px;
    font-size: 30px;
    padding: 0px;
    margin-bottom: 10px;
    margin-top: 20px;
    font-family: 'Jua', sans-serif;
}

#main img {
    width: 1000px;
    margin: auto;
    display: block;
}

#main .content {
    font-family: 'Jua', sans-serif;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}